/* Custom Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1,h4{
    font-weight: 700;
}
.hero {
    height: 100vh;
    background-image: url('image.jpeg'); /* Replace with actual image */
    background-size: cover;
    background-position: center;
}

.middile-section{
    margin-top: 5%;
    height: 700px;

        background: #f6eaea78;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.middile-section .top{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.middile-section .bottom {
    height: 70%;
    width: 100%;
    display: flex;
}
.middile-section .bottom .left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 2%;
}
.middile-section .bottom .right{
    height: 100%;
    width: 60%;
    background-image: url('image.jpeg'); /* Replace with actual image */
    background-size: cover;
    background-position: center;
}

.middile-section .form{
    justify-content: center;
    align-items: center;
    height: 60%;
}
.middile-section .form  form {
    border: 1px solid #bb9b9b;
    padding: 5%;
}
.middile-section .form  form input,button{
    margin: 5px;
}



.footer {
    background-color: #333;
    color: #fff;

    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 22px;
    padding-top: 10px;
}
  
  .footer-logo {
    margin-right: 20px;
  }
  .footer-links  ul{
    display: flex;
  }  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    /* margin-bottom: 10px; */
    margin: 0 8px;
    margin-bottom: 10px;
    text-align: justify;
}
  .footer-links li ul {
    display: flex;
    flex-direction: column;
  }
  .footer-links li ul li a{
    text-decoration: none;
    color: wheat;
  }
  
  .footer-copyright .copyright{
    margin: 0;  
    /* color: red; */
  }
  .footer-social a {
    margin-right: 10px;
  }

  .footer-social a i{
    color: #9a7777;

    padding: 6px;
    border-radius: 27%;
}
  .footer-buttons {
    display: flex;
    flex-direction: column;
}
  
.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 0;
    font-size: 14px;
    margin: 0 22px;
    border-top: 1px solid;
}  


@media screen and (max-width: 770px) {

    .hero {
        height: 50vh;
    }
.middile-section{
    height: auto;
    padding: 1%;
}
.middile-section .bottom {
   
    display: block;
}
.middile-section .bottom .right {
    height: 250px;
    width: 100%;

}
.middile-section .bottom .left {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

form{
    margin: 5%;
}

.footer-content {

    flex-wrap: wrap;
}
.footer-buttons {
    display: block;
}
}
